# dependencies
node_modules
package-lock.json

# production build outputs
build
dist

# logs
npm-debug.log*
*.log

# runtime data
.pids
*.pid
*.seed
*.log
*.data
test

# dotenv environment variables files
.env

# misc
.DS_Store
*.pem
*.map
*.swp
*.swo
*.swn
*.bak
*.swbak
*.swp
*.swo

# editors and IDEs
.vscode/

#Timing
credits.txt